* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/foto\ madera.jpg);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
    color: #ffefcf;
    background-color: black;

}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    display: block;
    background-color: #374547;
    color: #ffefcf;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 1em;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #161c1c;
}

h1,
h2 {
    text-align: center;
    color: #ffefcf;
    text-transform: uppercase;
    font-family: 'Contrail One', cursive;
}

h3 {
    background-color: #ef8d32;
    color: #ffefcf;
    font-family: 'Righteous', cursive;
    text-align: center;
}

h4 {
    color: #ef8d32;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 150%;

}

nav ol li a {
    color: #ffefcf;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    display: inline-block;
}

nav ol li {
    color: #ffefcf;
}

.tituloartist {
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: #ef8d32;
    padding: 10px;
    font-size: 150%;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

footer .contenedor {
    display: flex;
}

.textos a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffefcf;
    padding: 5px;
    background-color: #374547;
    margin: 10px;

}

.buscador1 {
    background-color: white;
}

.buscador {

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    float: right;
    margin-top: 32px;
}

nav ul li {
    color: #ffefcf;
}

.contenedor.playlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.contenedor.playlist ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #ffefcf;
    font-size: 20px;

}

/*
.contenedor.playlist ul li img {
    width: 20%;
    
}
*/

.contenedor.playlist ul li img {
    width: 200px;
    height: 200px;
    margin: 20px;

}

.contenedor.canciones {
    text-align: center;
    color: #ffefcf;

}

.contenedor.canciones .imagenprincipal {
    width: 70%;

}

.contenedor.albumes {
    text-align: center;
    color: #ef8d32;

}

.contenedor.canciones .imagenprincipal {
    width: 70%;
}

.botonesplaylist * {
    margin: 1em;
    color: #ffefcf;
    text-align: right;
    color: #ef8d32;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 100%;
    margin: 20px;

}

.contenedor.generos ul li {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #374547;
    margin: 10px 25px;
}

.contenedor.generos ul li a {
    color: #ffefcf;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
}

.titulogenero {
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: #ef8d32;
    padding: 10px;
    font-size: 150%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.portada-genero {
    margin: 30px;
}

.portada-playlist {
    margin: 30px;
}


.imagenprincipal {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contenedor section article figure img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.contenedorartista {
    text-align: center;
    margin: 50px;
}

.contenedorartista p {
    background-color: #374547a8;
    padding: 15px;
    color: #ffefcf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
}

.contenedoralbumes p {
    background-color: #374547a8;
    padding: 15px;
    color: #ffefcf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
}

.contenedor {
    align-items: center;
    margin: 0px 50px;
}

.mis-canciones {
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: #ef8d32;
    padding: 10px;
    font-size: 150%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cancion-agregada {
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: rgba(49, 45, 45, 0.801);
    padding: 10px;
    font-size: 50%;
    margin-top: 15px;
    margin-bottom: 15px;

}
.subtitulo-search-results {
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: #ef8d32;
    padding: 10px;
    font-size: 150%;
    margin: 40px;
}
.contenedor-search-results section  {
    text-align: center;
    color: #ffefcf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    
    margin: 30px;
}
.contenedor-search-results section article{
    margin: 30px;
    background-color: #000000;
    padding: 10px;

}
.contenedor-search-results section article p a {
    text-decoration: none;
    color: #ffefcf;
}

.contenedor-search-results article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.contenedor-noresult {
    text-align: center;
    background-color: #161c1cb7;
    margin: 80px;
    color: #ffefcf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
}
.contenedor-noresult img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.contenedor-noresult p {
    padding: 15px;
    background-color: #161c1c;
}

@media (max-width:420px){
    .buscador {
        margin: 70px;    
    }
}
@media (max-width:700px){
    .buscador {
        margin: 70px;    
    }
}