body {
    background-image: url(../images/foto\ madera.jpg); 
    margin: 30px;
}

header,
footer {
   color: white;
   background-color: black;
   display: flex;
}

header .contenedor {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    text-decoration: none;
}

nav ul li a {
    display: block;
    background-color: #374547;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #161c1c;
}

h1, h2{
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
}

h3 {
    background-color: #ef8d32;
    color: #374547;
    font-family: 'Righteous', cursive;
}

img{
    max-width: 100%;
    height: auto;
}

footer .contenedor {
    display: flex;
}

