body {
    background-image: url(../images/foto\ madera.jpg);
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.buscador {
    align-self: center
    color white
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    border border-radius: 10px;
}

.carousel {
    width: 98%
    hight: 400px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px (0, 0, 0, 0.719);
    overflow: hidden; 
}

.titulos {
    color: azure;
    padding: 15%;
    gap: 20%;
    align-self: center;
    justify-content: center;
    font-size: x-large
}

