* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
}
h3 {
    background-color: #ef8d32;
    color: #374547;
    font-family: 'Righteous', cursive;

}

img{
    max-width: 100%;
    height: auto;
}

header,
footer {
    background-color: #161c1c;
    color: white;
    padding: 15px 0;
}

header .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
footer .contenedor {
    display: flex;

}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    justify-content: space-between;
}


nav ul li a {
    display: block;
    background-color: #374547;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #161c1c;
}

main{
    
    background-color: #374547;
}

