*{
    box-sizing: border-box;
}

body {
    background-image: url(../images/foto\ madera.jpg); 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
   color: white;
   background-color: black;
   
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 15px;
}

nav ul li a {
    display: inline-block;
    background-color: #374547;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 1em;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #161c1c;
}

h1, h2{
    text-align: center;
    color: #ffefcf;
    text-transform: uppercase;
    font-family: 'Contrail One', cursive;
}

h3 {
    background-color: #ef8d32;
    color: #374547;
    font-family: 'Righteous', cursive;
    text-align: center;
}

h4 {
    color: #ef8d32;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

nav ol li a {
    color: #ffefcf;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    display: inline-block;
}

nav ol li {
    color: #ffefcf;
}
.tituloartist{
    text-align: center;
    color: #ffefcf;
    font-family: 'Contrail One', cursive;
    background-color: #ef8d32;
    padding: 5px;
}

img{
    max-width: 100%;
    height: auto;
}

footer .contenedor {
    display: flex;
}

.textos a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    background-color: rgb(182, 123, 123);
}

.buscador1 {
    background-color: white;
}

.buscador {
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    background-color: #374547;
}

nav ul li {
    color: #ffefcf;
}

.contenedor.playlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    
}

.contenedor.playlist ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 20px;
    
}

/*
.contenedor.playlist ul li img {
    width: 20%;
    
}
*/

.contenedor.playlist ul li img {
    width: 200px;
    height: 200px;
    margin: 5px;
    
}  

.contenedor.canciones {
    text-align: center;
    color: white;

}

.contenedor.canciones .imagenprincipal {
    width: 70%;

}

.botonesplaylist * {
    margin: 1em; 
    color: white;
}

.contenedor.generos ul {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
    
}

.contenedor.generos ul li {
    border: 1px solid white;
    padding: 2em;
    background-color:  #374547;
    border: 1px solid white;
	padding: 2em;
	flex: 1 0 auto;
	margin: 5px;
    text-align: center;
    display: block;
	text-decoration: none;
	border: 1px solid white;
	padding: .5em 1em;
	margin: 5px;
	text-align: center;
    
}

.imagenprincipal {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

    /* Detail artist */
 .contenedor section article figure img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

p {
    color: #ffefcf;
}



       
